.contactsWrapper {
  align-items: center;
  justify-content: center;
  margin: 0%;

  color: white;
  width: 90%;
}
.contactsWrapper > .headingTeam {
  font-size: 3vw;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "NeueMachinaUltrabold";
  margin-bottom: 50px;
}

.sponsorsLogoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  width: 100%;
  gap: 2vw;
}

.divSponsorsTire {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0%;
  margin: 0%;
  width: 85vw;
}

.companySponsorsDiv {
  display: flex;
  align-items: center;
  gap: 5%;
}

.companySponsorsDiv > a > img {
  max-width: 18vw;
  height: 6vw;
  object-fit: contain;
  cursor: pointer;
}
.twinkleSponsors {
  display: flex;
  background: transparent;
  align-self: center;
  justify-self: right;
}
.twinkleSponsors > img {
  width: 3.5vw;

}

.lineOne {
  height: 1px;
  width: 85%;
  background-color: rgb(255, 255, 255);
}
.lineTwo {
  height: 1px;
  width: 70%;
  background-color: rgb(255, 255, 255);
}
.lineThree {
  height: 1px;
  width: 50%;
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 1650px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1100px) {
  .sponsors-text-div-wrapper > div > a > img {
    width: 9.7vw;
  }
  .sponsors-text-div-wrapper {
    margin-top: 70px;
  }
  .sponsors-wrapper {
    margin-top: -25px;
  }
}
@media screen and (max-width: 800px) {
  .sponsors-text-one {
    line-height: 0.93;
  }
  .sponsors-text-two {
    margin-top: 15px;
    font-size: 1.74vw;
  }
  .sponsors-text-div-wrapper > div > a > img {
    width: 17vw;
  }
  .sponsors-text-div-wrapper {
    margin-top: 60px;
  }
  .sponsors-wrapper {
    margin-top: -35px;
  }
  .sponsor-card {
    font-size: 1.6vw;
  }
  .sponsor-card > img {
    height: 4vw;
    padding: 0%;
    width: 30vw;
  }
  .sponsor-card > div {
    height: 4vw;
    width: 30vw;
    gap: 1vw;
  }
  .sponsor-card > div > img {
    height: 1.3vw;
  }
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 500px) {
  .sponsors-text-one {
    font-size: 3.3vw;
    line-height: 0.95;
  }
  .sponsors-text-two {
    margin-top: 15px;
    font-size: 1.8vw;
  }
  .sponsors-text-div-wrapper > div > a > img {
    width: 14vw;
  }
  .arrow-sponsor {
    align-self: self-end;
  }
  .sponsors-text-div-wrapper {
    margin-top: 50px;
  }
  .sponsors-wrapper {
    margin-top: -100px;
  }
  .sponsors-logo-wrapper {
    margin-top: 15px;
  }
  .sponsor-card {
    font-size: 2vw;
  }
  .sponsor-card > img {
    height: 5vw;
    padding: 0%;
    width: 35vw;
  }
  .sponsor-card > div {
    height: 5vw;
    width: 35vw;
    gap: 1vw;
  }
  .sponsor-card > div > img {
    height: 2vw;
  }
}

@media screen and (max-width: 430px) {
  .sponsors-wrapper {
    margin-top: 5px;
  }
  .sponsors-wrapper > .event-wrapper > .event-header {
    margin: 0%;
    gap: 10px;
  }
  .sponsors-logo-wrapper {
    margin-top: 10px;
  }
  .sponsors-wrapper > .event-wrapper > .event-header > p {
    font-size: 50px;
  }
  .sponsors-wrapper > .event-wrapper > .event-header > img {
    width: 40px;
    height: 40px;
  }
}
