.navbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
}
.navLogoWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.navLogoWrapper > div {
  width: 2px;
  height: 30px;
  background: rgba(255, 255, 255, 0.4);
}
